body {
    margin: 0;
    padding: 0;
    font-family:serif;
    font-size: 1.4rem;
    font-weight: bold;
}

.barra {
    height: 100vh;
    width: 22vh;
    background-color: aliceblue;
    margin-top: -31px;
}

.topo {
   margin-top: 0;
   margin-left: 17px;
   color: cornflowerblue;
}



nav {
    color: aliceblue;
}

ul {
   display: flex;
    flex-direction: column;
    gap: 52px;
}

a{
   text-decoration: none;
}

li {
    pointer-events: all;
}

button {
    
}