body {
    margin: 0;
    padding: 0;
    font-family: "Jockey One", sans-serif;
    color: #1331A1;
}

h1 {
    color: #1331A1;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_senac {
    margin:0 90px;
}

.navi1 {
    margin:0 95px;
}

.orde1 {
    display: flex;
    gap: 58px;
}

li {
    color: white;
}

.au {
    text-decoration: none;
    color: #F31366;
}

hr {
    width: 90%;
    height: 5px;
    background-color: #A2CA02;
    border: none;
}

.barra2 {
    display: flex;
    align-items: flex-start;
    gap: 114px;
    margin-top: 70px;
}

.orde2 {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 22px
    
}

.ou {
    text-decoration: none;
    color: #1331A1;
}

.sec {
    display: flex;
    flex-direction: column;
    margin-left: 18%;
    gap: 16px;
}

.block {
    display: flex;
    flex-direction: row;
    gap: 101px;
}

.par1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}

.block2 {
    display: flex;
    align-items: center;
    gap: 68px;
}

.par2 {
    display: flex;
    align-items: center;
}

.pin {
    width: 37px;
}

.section_two {
    margin: 0 18%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #1331A1;
}

input {
    width: 66%;
    padding: 7px;
    border: 1px solid #1331A1;
    border-radius: 9px;
}

input::placeholder {
    color: #1331A1;
    font-weight:bold;
}