body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-image: url("Fundo 1.png");
}

h1 {
color: #1331a1;
font-family:Helvetica; 
}

p {
    color: #1331a1;
}
.caixa-branca {
   background-color: #e6e6e8;
    width: 800px;
    height: 900px;
    position: absolute;
}

/*Estilo da imagem do lado direito*/
.container-image {
    width: 900px;
    height: 900px;
    position: absolute;
    left: 1000px;
}

/*Dentro do container estou falando com a imagem em si*/
.container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
 /*Aqui se encontra o formulário*/
.caixa2{
    display: flex;
    flex-direction: column;
    width: 300px;
}

/*.caixa2 label, .caixa2 input{
    margin: 8px 0;
}


/*Aqui é a caixa que criamos*/
.caixa2 {
    position: absolute;
    top: 50%;
    left: 100px;
    margin-top: 5px;
    border-radius: 50px;

}

/*Seu funcionamento aqui*/
.login {
    background-color: rgb(180, 154, 121);
    width: 400px;
    border: 10px solid black;
    padding: 50px;
    margin: 20px;
}

.lado-direito {
    margin: 0;
}

