body{
    margin:0;
    padding: 0;
    background-image: url(Fundo\ 3.png);
    box-sizing: border-box;
    height: 100vh;
    
}

.caixa-branca {
   background-color: #e6e6e8;
    width: 800px;
    height: 900px;
    position: center;
    
} */
    
.imagem-fundo {

width: 5;
display: flex;

}



