body{
    margin:0;
    padding: 0;
    background-image: url(Fundo\ 3.png);
    
}

/*.caixa-branca {
   background-color: #e6e6e8;
    width: 800px;
    height: 900px;
    position: absolute;
} */
    
.imagem-fundo {
height: 100vh;
width: 5;
display: flex;

}



