body {
    margin: 0;
    padding: 0;
    color: #1331A1;
    font-family: jockey one;
    font-weight: bold;
    min-height: 100vh;
    position: relative;
}

.img{
    position: absolute;
    width: 100vw;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.introo {
    width: 261px;
    height: 233px;
    background: #FF8D28;
    border-radius: 10%;
    position: relative;
    left: 24%;
    transform: translateY(209%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.container {
    display: flex;
    justify-content: flex-end;
    transform: translateY(10px);
    flex-wrap: nowrap;
}

.form {
    height: 461px;
    width: 795px;
    background: aliceblue;
    border-radius: inherit;
    border-radius: 28px;
    display: flex;
    margin-top: -22px;
    margin-left: 634px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

form input {
    width: 443px;
    padding: 8px;
    border: 1px solid #1331A1;
    border-radius: 10px;
    margin: 4px;
}

form img {
    position: relative;
    right: 7%;
    bottom: -13%;
    height: 19px;
}

form button {
    width: 79px;
    padding: 8px;
    border: 1px solid #1331A1;
    border-radius: 16px;
    background: #1331A1;
    margin: 10px;
    position: relative;
    right: -48%;
    bottom: -3%;
    color: white;
}

form a {
    position: relative;
    right: -331%;
    bottom: -125%;
    color: #1B1B1B;
}

.seta {
    position: relative;
    left: 56%;
    color: #F2F2F2;
    width: 22px;
    height: 25px;
}

.linha {
    position: relative;
    left: 1%;
    top: 8%;
    width: 58%;
}