body {
    margin: 0;
   
    background-image: url("Fundo 1.png");
    
}

h1 {
color: #1331a1;
font-family:Helvetica;
}

/*Aqui é a caixa que criamos*/
.box {
    background-color: #e6e6e8;
    width: 800px;
    height: 900px;
    position: absolute;
}

.caixa2 {
    position: absolute;
    top: 50%;

}

.lado-direito {
    
}
