body {
   font-family: jockey-one, sans-serif;
   color: #1331A1;
   background: #F2F2F2;
   margin: 0;
}

main {
   display: flex;
}
.container {
   width: 60vw;
    display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   align-items: center;
}

.container input {
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #1331A1;
  width: 300px;
  display: flex;
  flex-direction: column; 
  margin-bottom:  30px;
  
}

.button {
   background-color: #1331A1;
   color: #F2F2F2;
   border-radius: 18px;
   padding: 11px;
   width: 90px;
   position: relative;
   bottom: 10px;
   left: 110px;
}

.img1 {
  position: relative;
  bottom: 20px;
  left: 0px;
}

.img1 .p {
    color: #1331A1;
    left: 60px;
    bottom: 10px;
}


.img2 img {
  max-width: 40vw;
  display: flex;
  justify-content:flex-end;
  height: 100vh;
  
}

form img{
   position: relative;
   height: 14px;
   left: 290px;
   bottom: 54px;
   cursor: pointer;
   }
